.delete-account-page {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #333; /* Dark background for a sleek look */
}

.image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.delete-account-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%); /* Darken the image for better visibility of content */
}

.delete-account-header {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #c81058; /* Using the highlight color */
    align-items: center;
    text-align: center; /* Centers header text */
}

.delete-account-p {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    color: white;
    text-align: center; /* Ensures paragraph text is centered */
}

.delete-account-container {
    border-radius: 15px 0 0 15px;
    background-color: rgba(0, 0, 0, 0.8); /* Darker background for better readability */
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-right: auto; /* Keeps the container aligned to the left */
    width: 100%; /* Adjusted for full width on smaller screens */
    max-width: 300px; /* Maximum width for better form management */
}

.home-icon {
    position: absolute;
    top: 20px;
    right: 70px;
    cursor: pointer;
    z-index: 1;
}

.home-icon img {
    width: 40px;
    height: 40px;
}

.delete-btn {
    background-color: #c81058;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: auto;
    margin-bottom: 10px;
}

.delete-btn:hover {
    background-color: #ff70a6; /* Lighter shade for hover effect */
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .delete-account-page {
        flex-direction: column;
    }

    .image-container {
        flex: none;
        height: 50vh; /* Adjust height for mobile devices */
    }

    .delete-account-container {
        width: 100%; /* Full width on small screens */
        padding: 20px; /* Padding for better layout */
    }

    .delete-btn {
        max-width: 100%;
    }
}

.text {
    color: white; /* White text for better visibility against dark background */
}
