body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right but within available space */
    padding: 15px 20px; /* Reduce horizontal padding for more space */
    background-color: transparent; /* Ensure header is transparent */
    width: 95%;
    position: fixed; /* Locks the header at the top of the viewport */
    top: 0; /* Ensures it sticks to the top */
    z-index: 1000; /* Keeps the header above all other elements */
    box-shadow: none; /* Removes shadow for a seamless look */
    height: 80px; /* Ensures enough height */
    overflow-x: hidden; /* Prevents horizontal overflow */
}

@media (max-width: 768px) {
    .header-container {
        padding: 0;
    }
}


.nav-item {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px; /* Equal spacing between items */
    transition: color 0.3s ease;
    background: none!important;
    border: none;
}

.user-name {
    position: absolute;
    left: 35px; /* Adjust position to the left */
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px; /* Equal spacing between items */
}

@media (max-width: 768px) {
    .user-name {
        display: none; /* Hides the user name on smaller screens */
    }
}

.settings-nav-item{
    cursor: pointer;
    background: none!important; 
    border: none;
}

.nav-item:hover {
    color: skyblue;
}

.right-actions {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-right: 20px; 
}

.sign-in {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sign-in-text {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.sign-in-text:hover {
    color: #f0f0f0;
}

.icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    vertical-align: middle;
}

.submit-listing {
    background-color: #ffffff;
    color: #050b20;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.submit-listing:hover {
    background-color: #e9e9e9;
}
